<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<resultMap type="Board" id="resultTop3">
		<id column="bid" property="bid"/>
		<result column="btitle" property="btitle" />
		<result column="bcount" property="bcount" />
	</resultMap>

	<!-- 비교연산자를 쿼리문에 그냥 사용하면, 
	마이바티스에서 태그 앨리먼트의 꺽쇠괄호(<,>,&)와 혼동하는 문제가 발생할 수 있음
	이 문제를 미리 방지하기 위해 xml 코드 중 xml parser에 의해 해석하지 말고
	문장 그대로 해석하라는 뜻으로 <![CDATA 쿼리문장 ]]> 사용함
	 -->
	 
	<!-- 조회수 top3 게시글 리스팅 -->
	<select id="selectTop3" resultMap="resultTop3">
	<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM RNUM, BID, BTITLE, BCOUNT
				FROM (SELECT * FROM BOARD ORDER BY BCOUNT DESC))
		WHERE RNUM >= 1 AND RNUM <= 3
	]]>
	</select>

</mapper>
