<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper"> <!--  자동완성될때 cache는 지움 -->
  
  <resultMap id="memberResultSet" type="Member">
  	<id property="id" column="ID"/>
  	<result property="pwd" column="PWD"/>
  	<result property="name" column="NAME"/>
  	
  	<result property="email" column="EMAIL"/>
  	<result property="gender" column="GENDER"/>
  	<result property="age" column="AGE"/>
  	<result property="phone" column="PHONE"/>
  	<result property="address" column="ADDRESS"/>
  	
  	<result property="enrollDate" column="ENROLL_DATE"/>
  	<result property="updateDate" column="UPDATE_DATE"/>
  	<result property="mStatus" column="M_STATUS"/>
  </resultMap>
  
  <select id="loginMember" parameterType="Member" resultMap="memberResultSet">
	<!-- 암호화 전 -->
	<!-- SELECT *
	FROM MEMBER
	WHERE ID = #{ id }
		AND PWD = #{ pwd }
		AND M_STATUS = 'Y'  --> 
	<!-- 암호화 후 -->
	SELECT 
		   *
	  FROM MEMBER
	  WHERE ID=#{ id }
	  	AND M_STATUS= 'Y' <!-- 사용자 있는지 없는 지 여부만 판단한후 있으면 정보값 다 가져온다. -->
  </select> <!-- 여기서 #{}값은 vo의 getter에서 가져오는 값 -->
  
  <insert id="insertMember" parameterType="Member">
	INSERT 
	  INTO MEMBER 
	VALUES (
			 #{id}
			, #{pwd}
			, #{name}
			, #{email}
			, #{gender}
			, #{age}
			, #{phone}
			, #{address}
			, sysdate
			, sysdate
			, default
			)
  </insert>
  
  <update id="updateMember" parameterType="String">
	UPDATE 
		MEMBER
	SET M_STATUS = 'N'
	WHERE ID = #{id}
  </update> 
  
  <update id="updateMember" parameterType="Member">
  	UPDATE
  		   MEMBER
  	   SET
  	       EMAIL=#{ email }
  	       , AGE = #{ age }
  	       , PHONE = #{ phone }
  	       , ADDRESS = #{address}
  	       , UPDATE_DATE = SYSDATE
  	   WHERE ID = #{ id }
  </update>

</mapper>